.Home{
    width: 100%;;
    height:700px;

}
.fixTop{
   background-blend-mode: darken;
}
.myMainTitle{
    width:100%;
    position: absolute;
    top:50%;
    align-items: center;
    margin:0 auto;
    padding: auto;
    filter: brightness(100%)!;
}
.whatThis{
    font-size: 40px;
    color: rgb(232, 235, 231);
    font-weight: bolder;
    margin:auto !important;
    filter: brightness(100%);
}
.gotoBookPage{
    margin-top: 35px;
    
}
.bookBtn{
    font-size: 15px;
    border-radius: 20px;
    padding: 2px 10px;
}
@media (min-width:2400px){
    .myMainTitle{
    
        position: absolute;
        top:50%;
        align-items: center;
        margin:0 auto;
        padding: auto;
        filter: brightness(100%)!;
    }
}
@media (min-width:1800px){
    .myMainTitle{
    
        position: absolute;
        top:50%;
        align-items: center;
        margin:0 500px;
        padding: auto;
        filter: brightness(100%)!;
    }
}
@media (min-width:1200px){
    .myMainTitle{
    
        position: absolute;
        top:50%;
        align-items: center;
        margin:0 auto ;
        padding: auto;
        filter: brightness(100%)!;
    }
}
@media (min-width:1100px){
    .myMainTitle{
    
        position: absolute;
        top:50%;
        align-items: center;
        margin:0 auto;
        padding: auto;
        filter: brightness(100%)!;
    }
}
@media (min-width:900px){
    .myMainTitle{
    
        position: absolute;
        top:50%;
        align-items: center;
        margin:0 auto;
        padding: auto;
        filter: brightness(100%)!;
    }
    .bookBtn{
        font-size: 30px;
        border-radius: 40px;
        padding: 6px 24px;
    }
    .whatThis{
        font-size: 70px;
        color: rgb(232, 235, 231);
        font-weight: bolder;
        margin:auto !important;
        filter: brightness(100%);
    }
    .Home{
        width: 100%;;
        height:1000px;
    
    }
    
}
@media (min-width:600px){
    .myMainTitle{
    
        position: absolute;
        top:50%;
        align-items: center;
        margin:0 auto;
        padding: auto;
        filter: brightness(100%)!;
    }
    .bookBtn{
        font-size: 30px;
        border-radius: 40px;
        padding: 6px 24px;
    }
    .whatThis{
        font-size: 50px;
        color: rgb(232, 235, 231);
        font-weight: bolder;
        margin:auto !important;
        filter: brightness(100%);
    }
    .Home{
        width: 100%;;
        height:1000px;
    
    }
}
